
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  p {
    margin: 1rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-family: inherit;
  }
  
  button {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: inherit;
  }
  
body {
    background-color: #f9f9fb;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}


